:root {
    --color-background-header: rgb(12, 41, 96);
    --color-header-text: rgb(255, 255, 255);
    --color-background-page: rgb(155, 196, 221);
    --color-accent: rgb(35, 69, 122);
    --color-link: var(--color-accent);
    --color-text: var(--color-background-header);
    --color-text-heading: rgb(37, 86, 142);
}